.container {
  height: 150px;
  background-image: url('../../assets/footer-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
